html {
  box-sizing: border-box;
  background-color: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300 px;
  margin: 50 px auto;
  position: relative;
  width: 300 px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}
